body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0a0d12;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}
.tetris-game {
    background-color: #15181d;
    display: grid;
    grid-template-columns: repeat(10,30px);
    grid-template-rows: repeat(20,30px);
}
.block,.next-piece-block {
    border: 1px solid #174151;
}
.game-info {
    color: #009084;
    display: flex;
    flex-direction: column-reverse;
}
.game-info p {
    text-align: center;
}
.next-piece {
    display: grid;
    grid-template-columns: repeat(4,30px);
    grid-template-rows: repeat(3,30px);
}
.next-piece-block {
    background-color: #15181d;
}